/*CLASS SELECTOR IN Images.css*/
/* Type Selector */
body {
    background-color: #f9f9f9;
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    color: #1a1a1a;
    line-height: 1.5em;
}

main {
    background-image: url("../Images/logo_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

p {
    color: #1a1a1a;
    font-size: 1rem;
    padding-left: 1.5rem;
}

q {
    display: block;
    /* or inline-block */
    width: 80%;
    /* must set a width for margin auto to work */
    margin: 1em auto;
    font-style: italic;
    text-align: center;
}


/* Combination Selector */

h1,
h2 {
    color: #004466;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

/* Relational Selector */
footer p {
    background-color: #d0d0d0;
    color: #444444;
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
}

/* Pseudo-Class */
a {
    color: #0055aa;
    text-decoration: none;
}

a:hover {
    color: #003366;
}

a:visited {
    color: #551a8b;
}